
a{
     text-decoration: none;
}
.body {
     background-image: url("image.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: auto;
}

.container {
     border-radius: 8px;
     margin-top: 7%;
     text-align: center;
     width: 330px;
     height: 449px;
     margin-left: -7px;
}

.h1 {
     padding-top: 21px;
     font-size: 40px;
     font-family: 'Baloo Chettan 2', cursive;
}

.divtext {
     margin-left: -155px;
}

.labeltext {
     margin-left: 22px;
     font-size: 17px;
     font-weight: bold;
     font-family: 'Baloo Chettan 2', cursive;
     color: rgb(26, 25, 25);
}

.input {
     margin-top: -11px;
     border: 0px solid black;
     outline: none;
     padding: 12px;
     width: 230px;
     border-radius: 26px;
}

.input:focus {
     border: 4px solid lightblue;
     transition: 0.2s ease;
}

.divpasstext {
     margin-left: -155px;
}

.labelpass {
     margin-left: -7px;
     font-size: 17px;
     font-weight: bold;
     font-family: 'Baloo Chettan 2', cursive;
}

.inputpass {
     border: 0px solid black;
     outline: none;
     padding: 12px;
     width: 230px;
     border-radius: 26px;
     margin-top: -11px;
}

.inputpass:focus {
     border: 4px solid lightblue;
     transition: 0.2s ease;
}

.forgetPassword {
     margin-bottom: 400% !important;
     padding-left: 8px;
}

.checkbox {
     margin-left: 114px;
}

.btn {
     background-color: rgb(76, 133, 255);
     outline: none;
     padding: 9px;
     width: 258px;
     border-radius: 26px;
     border: 1px solid lightblue;
     font-size: 15px;
     font-weight: bold;
     font-family: 'Baloo Chettan 2', cursive;
}

.divcheckbox {
     margin-left: -110px;
}

.hr {
     width: 260px;
}

.signup {
     padding-top: 8px;
     margin-top: -2px;
     font-family: 'Roboto', sans-serif;
}
